<h1> <%= @name %>  </h1>
<% @teams.each do |team| %>
<p> <%=  team.name %>    </p>
<p> <%=  team.motto %> </p>
<% end  %>
<br>
<% @heroes.each do |hero| %>
<p>   <%=  hero.name %>  </p>
<p>   <%=  hero.power %> </p>
<p>   <%=  hero.bio %>   </p>
<% end  %>
